* {
 padding: 0;
 margin: 0;
}

.logo {
 font-family:times New Roman;
 font-size:40pt;
 font-weight:bold;
}

.head,
.main {
 margin:0.5em 1em;
 clear: both;
}

.sf-menu li {
 background: none;
}

.sf-menu a {
 border-left: none;
 border-top: none;
}

.sf-menu li li {
 background: #72A5FF;
}

.sf-menu {
 background: #5C84CC;
 border:1px solid #3A414C;
 color:white;
 margin-top:1em;
 margin-bottom: 2em;
 width: 100%;
 clear: both;
}

.sponsors {
 float: right;
}


.speaker-photo {
 float: right;
}

.speaker-list img,
.speaker-photo {
 -moz-box-shadow:0.3em 0.3em 0.5em black;
 box-shadow:0.3em 0.3em 0.5em black;
 -webkit-box-shadow:0.3em 0.3em 0.5em black;
 margin: 1em;
}

.logo-event {
 float: right;
 margin-left: 1em;
 margin-bottom: 1em;
}

.delim {
 clear: both;
}

td.image {
 text-align: center;
}

.menu > .selected {
 background: #72A5FF;
}

/* content */

p, table {
 margin: 1em 0;
}

table.edt {
 border:1px solid #3A414C;
 border-collapse:collapse;
 font-size: 90%;
 width: 70%;
 margin-left: 15%;
 margin-right: 15%;
}

.edt .author,
.edt .author a,
.edt .author a:visited {
 color: gray;
}

.edt td {
 text-align: center;
 border:1px solid gray;
}

table.edt.index{
 width: auto;
}

table.sponsors {
 border:1px solid #3A414C;
 border-collapse:collapse;
 margin-left: 1em;
 margin-bottom: 1em;
 margin-top: 0;
}

table.edt th,
table.sponsors th{
 border-bottom:1px solid #3A414C;
 background: #5C84CC;
 color: white;
}

col.time {
 width: 10%;
}

col.track {
 width: 45%;
}

td, th {
 padding:0.2em;
}

table.edt td {
 border-bottom:1px solid gray;
}

table.edt td:first-child {
 font-weight: bold;
}

table.edt tr.break {
 background: #eeeeee;
}

table.edt td.legend,
table.edt td:first-child {
 color: #414141;
 padding-left: 1em;
 padding-right: 1em;
 white-space: pre;
}

table.logos {
 width: 100%;
 text-align: center;
}

ul {
 margin: 1em;
}

.bubble {
 border:1px solid black;
 margin-left:20%;
 margin-right:20%;
 padding:1em;
}

a > img {
 border: none;
}

.speaker-list {
 width: 70%;
 margin-left: 15%;
 margin-right: 15%;
 border-collapse: collapse;
}

.speaker-list td {
 width: 25%;
 text-align: center;
}

.speaker-list .title {
 font-family: times New Roman;
 font-size: 32pt;
 font-weight: bold;
}

.speaker-list .title a {
 color: black;
 text-decoration: none;
}

.speaker-list .title a:hover {
 color: white;
}

.speaker-list td.inria {
 background: #5C84CC;
}

.speaker-list td.jug {
 background: #72A5FF;
}
